.card__container{
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* margin: 50px; */
}
.card__container:hover .button {
    display: block;
}
.card__container img {
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.button {
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var( --primary-color);
}
button:hover{
    background-color: var(--secondary-color);
}
.rating {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 80%;
    margin: 100px auto 100px auto;
    gap: 50px;
    justify-content: center;
    /* margin: 50px; */
}
.products__container section {
    margin: 0 auto;
}

.product__fixed {
    box-shadow: none;
    height: auto;
    display: flex;
    gap: 50px;
    width: 100%;
}

.product__fixed h3 {
    padding: 20px 0;
}

.product__fixed .button {
    display: block;
    position: static;
    width: 150px;
    margin-right: 40px;
}

.product__fixed {
    height: 50vh;
}

.product__fixed img {
    width: 300px !important;
    height: auto;
}

@media (max-width:768px) {
    .product__fixed {
        display: flex;
        flex-direction: column;
    }
}